body {
    font-family: Arial, sans-serif;
}

#timeline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#timeline span {
    font-size: 10px; /* Smaller font size */
    padding: 1px 2px; /* Smaller padding */
    cursor: pointer;
    margin: 0 3px; /* Smaller margin between years */
}

#timeline span.active {
    background-color: lightskyblue;
}
#charts-container {
    display: flex;
    justify-content: space-around; /* Distribute space around the items */
    align-items: flex-start; /* Align items at the start */
}

#chart, #bar-chart {
    width: 50%; /* Adjust the width as needed */
    margin: 10px;
}
svg {
    width: 100%; /* Ensure the SVGs take up the full width of their containers */
    height: auto; /* Maintain aspect ratio */
}

button {
    margin: 10px;
}
body {
    background: linear-gradient(to bottom, #ffffff, #cfcfcf);
    margin: 0;
    font-family: Arial, sans-serif;
}

#timeline-title-container {
    text-align: center;
    width: 100%;
}

#timeline-title {
    margin: 0; /* Ensure there's no default margin */
    padding: 5px 0; /* Optional: Add padding to space it out */
}

#bottom-text {
    font-size: 12px; /* Adjust this value to make the font smaller or larger */
    position: relative; /* Set position to relative to use top property */
    top: -100px; /* Move the text up by 30 pixels */
}
#city-info {
    font-size: 20px;
    color: blue; /* Change the text color to blue */
    text-align: center; /* Center the text horizontally */
    margin: -10px auto; /* Add some space around the text and center it */
    font-weight: bold; /* Make the text bold */
    font-family: Arial, sans-serif; /* Use a sans-serif font */
    position: relative; /* Set position to relative to use top property */
    top: 0px; /* Move the text up by 30 pixels */

}